/*lobstermobster designed his UI around 8px increments, so every padding margin etc is in multiples of 8px*/
/*

- html elements
- general purpose classes
- ukrainian banner classes
- header
- page title
- reddit

*/
@font-face { font-family: IBMPlexSans-Light; src: url('fonts/IBMPlexSans-Light.ttf'); }
@font-face { font-family: IBMPlexSans-Regular; src: url('fonts/IBMPlexSans-Regular.ttf'); }
@font-face { font-family: IBMPlexSans-SemiBold; src: url('fonts/IBMPlexSans-SemiBold.ttf');}

/*HTML ELEMENTS*/
*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'IBMPlexSans-Light', Arial, Helvetica, sans-serif;
    background-color: #000000;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-height: 100vh;
}

h2, p,
.row h3{
    padding-top: 8px;
    padding-bottom: 8px;
}

p{
    font-size: 1.5rem;
}

a{
    color: #4c98ff;
}

iframe{
    margin-bottom: 8px;
    border: 0;
}

.intro {
    height: 130px;
    margin-bottom: 20px;
}

.container{
    padding: 0 30px;
    box-sizing: border-box;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

/*HELPER CLASSES*/
.txt-center {
    text-align: center;
}

.bright-yellow{
    color: #fed502;
}

.float-right{
    float: right;
}

/*ukr-flag are for two <hr> elements one on top of the other, making a banner with the color of Ukraine*/
.ukr-flag-top{
    height: 4px;
    background-color:#0057b7;
    border: none;
    padding-bottom: 0;
    margin-bottom: 0;
}

.ukr-flag-bot{
    height: 4px;
    background-color: #ffd700;
    border: none;
    padding-top: 0;
    margin-top: 0;
}

/*HEADER*/
.header{
    background-color: #161616;
    padding: 16px 8px 16px 8px;
    border-bottom: solid 1px #2f2f2f;
    height: 60px;
    box-sizing: border-box;
    margin-bottom: 8px;
}

.header svg, .header h1{
    display: inline;
}

.header a{
    color: #ffffff;
    text-decoration: none;
}

.header svg{
    margin: 8px 8px 0px 8px;
}

.header svg text{
    font-size: 16px;
}

.header h1{
    font-weight: 100;
    font-size: 1em;
}

.header h1 strong{
    font-weight: 700;
}

/*PAGE TITLE*/
.page-title{
    color: #fed502;
    margin-bottom: 16px;
}

.page-title hr{
    border: none;
    border-bottom: solid 1px #fed502;
}

/*COLUMNS*/
.column-wrapper{
    display: flex;
    flex-grow: 1;
}

.remaining-column {
    flex-basis: calc( 50% - ( ( ( 16 / 9 ) * ( ( 100vh - 278px ) / 3 ) ) / 2 + 20px ) );
    display: flex;
    flex-direction: column;
}

.remaining-column:first-child {
    margin-right: 20px;
    flex-grow: 1;
}

.remaining-column:last-child {
    margin-left: 20px;
    max-width: 1200px;
}

/*.live-stream-columns {
    display: flex;
    margin-bottom: 20px;
}

.live-stream-column {
    flex-basis: calc( 50% - 10px );
}

.live-stream-column:first-child {
    margin-right: 10px;
}

.live-stream-column:last-child {
    margin-left: 10px;
}*/

.video-column {
    display: flex;
    flex-direction: column;
    width: calc( ( 16 / 9 ) * ( ( 100vh - 278px ) / 3 ) );
}

.video-column .responsive-iframe {
    margin-bottom: 20px;
}

/*RESPONSIVE IFRAMES*/
.responsive-iframe{
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}

.responsive-iframe iframe{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.grow-iframe {
    position: relative;
    flex-grow: 1;
}

.grow-iframe iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;    
}

/*Tab top: 3366ba*/
/*262626 393939 161616*/
/*MENU SELECTOR COMPONENT*/
.tab-menu {
    display: flex;
    justify-content: flex-start;
    background-color: #161616;
}

.tab-menu__tab {
    width: 250px;
    font-size: 1.5rem;
    box-sizing: border-box;
    padding: 15px 10px;
    background-color: #393939;
    border-right: 1px solid #fff;
    border-top: 1px solid #393939;
    cursor: pointer;
}

.tab-menu__tab:last-child {
    border-right: 0;
}

.tab-menu__tab:hover {
    background-color: #262626;
    border-top-color: #262626;
}

[data-show="1"] .tab-menu__tab[data-val="1"],
[data-show="2"] .tab-menu__tab[data-val="2"],
[data-show="3"] .tab-menu__tab[data-val="3"] {
    border-top-color: #3366ba;
    background-color: #262626;
}

.tab-menu__element {
    display: none;
}

[data-show="1"] .tab-menu__element[data-val="1"],
[data-show="2"] .tab-menu__element[data-val="2"],
[data-show="3"] .tab-menu__element[data-val="3"] {
    display: block;
}

/*MAP SECTION*/
.map-section {
    margin-bottom: 20px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
.map-section img{
    width: 100%;
}

/*TWITTER*/
/*.tagembed-container {
    flex-grow: 1;
    height: auto !important;
    overflow: auto !important;
    margin-bottom: 20px;
}*/

.twitter-feed {
    overflow: auto;
    margin-bottom: 20px;
    position: relative;
    min-width: 300px;
    flex-grow: 1;
}

.twitter-feed > iframe {
    position: absolute !important;
}

/*REUTERS MAP*/
.reuters-map {
    margin-bottom: 20px;
}


@media (max-width: 2047px), (max-height:1079px) {
    body {
        max-height: none;
    }

    p {
        font-size: 1rem;
    }

    .tab-menu__tab {
        width: 150px;
        font-size: 1rem;
    }

    .container {
        padding: 0 5%;
    }

    .column-wrapper {
        flex-wrap: wrap;
    }

    .remaining-column:first-child {
        flex-basis: calc( 100% - ( ( 16 / 9 ) * ( ( 100vh - 278px ) / 3 ) + 20px ) );
    }

    .remaining-column:last-child {
        flex-direction: row;
        flex-basis: 100%;
        margin-left: 0;
        max-width: none;
    }

    .reuters-map {
        width: 100%;
        margin-left: 20px;
    }
}

@media (max-width: 1200px) {
    .remaining-column:first-child {
        flex-basis: 100%;
        margin-right: 0;
    }

    .video-column {
        flex-basis: 100%;
        flex-direction: row;
    }

    .grow-iframe{
        width: 100%;    
        height: 0;
        padding-bottom: 56.25%;
    }

    .video-wrapper {
        width: calc( 33% - 12px );
        margin-left: 6px;
        margin-right: 6px;
    }

    .video-wrapper:first-child {
        margin-left: 0;
        margin-right: 12px;
    }

    .video-wrapper:last-child {
        margin-right: 0;
        margin-left: 12px;
    }

    .remaining-column:last-child {
        flex-direction: column;
    }

    /*.tagembed-container {
        height: 1000px !important;
    }*/

    .twitter-feed {
        max-height: 1000px;
    }

    .twitter-feed > iframe {
        position: static !important;
    }

    .reuters-map {
        margin-left: 0;
    }
}

@media (max-width: 900px) {
    .intro {
        height: auto;
    }

    .video-column{
        flex-direction: column;
    }

    .video-wrapper.video-wrapper {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
}

@media (max-width: 500px) {
    .tab-menu__tab {
        width: 120px;
        font-size: .8rem;
    }
}