{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block pagetitle %}About{% endblock %}

{% block content %}
<div class="intro" xmlns="http://www.w3.org/1999/html">
    <h2>Ukrainianconflict-live</h2>

    <p>
        This is a initiative from /r/UkrainianConflict volunteers to create a single hub of information
        regarding the ongoing situation. This is a work in progress.
        If you'd like to make any suggestions to improve the site,
        <a href="https://github.com/Ukrainianconflict-live/website">let us know</a>.
    </p>

    <p>
        Thank you, <span class="bright-yellow">Слава Україні!</span>
    </p>
</div>
{% endblock %}