{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block intro %}
<div class="intro" xmlns="http://www.w3.org/1999/html">
        <h2>Ukrainianconflict-live</h2>

        <p>
            This is a initiative from /r/UkrainianConflict volunteers to create a single hub of information
            regarding the ongoing situation. This is a work in progress.
            If you'd like to make any suggestions to improve the site,
            <a href="https://github.com/Ukrainianconflict-live/website">let us know</a>.
        </p>

        <p>
            Thank you, <span class="bright-yellow">Слава Україні!</span>
        </p>
    </div>
{% endblock %}

{% block pagetitle %}Dashboard{% endblock %}

{% block content %}
    <div class="row  map-section">
        
        <h3>Maps</h3>
        <div class="toggle-parent" data-show="1">
            <div class="toggle-element">
                <button data-val="1">1</button>
                <button data-val="2">2</button>
                <button data-val="3">3</button>
                <button data-val="4">4</button>
                <button data-val="5">5</button>
                <button data-val="6">6</button>
                <button data-val="7">7</button>
            </div>
            <!-- Flight radar 24-->
            <div class="responsive-iframe toggle-child" data-val="1">
                <iframe src="https://www.flightradar24.com/simple?lat=48.26&lon=38.48&z=5">
                </iframe>
            </div>

            <!-- Flight radar 24-->
            <div class="responsive-iframe toggle-child" data-val="2">
                <iframe src="https://liveuamap.com/">
                </iframe>
            </div>

            <!-- Reuters graphic (@see https://graphics.reuters.com/UKRAINE-CRISIS/zdpxokdxzvx/) -->
            <div class="toggle-child toggle-noscript" data-val="3">
                <img src="https://graphics.reuters.com/UKRAINE-CRISIS/zdpxokdxzvx/cdn/images/graphics/bigmap-xl.png"
                    alt="Ukraine Crisis"
                    style="width: 100%;"
                />
            </div>

            <!-- Live Conflict Tracker -->
            <!-- API key is t8G8dyyNEssK45ZJ , but I could'nt find a way to use it to embed this map... -->
            <div class="responsive-iframe toggle-child" data-val="4">
                <iframe src="https://maphub.net/Cen4infoRes/russian-ukraine-monitor">
                </iframe>
            </div>

            <!-- NASA Fire Tracker -->
            <!-- !! CRSF error -->
            <div class="responsive-iframe toggle-child" data-val="5">
                <iframe src="https://firms.modaps.eosdis.nasa.gov/map/#d:24hrs;@34.1,48.8,6z">
                </iframe>
            </div>

            <!-- Wikipedia (@see https://en.wikipedia.org/wiki/2021%E2%80%932022_Russo-Ukrainian_crisis) -->
            <div class="toggle-child toggle-noscript" data-val="6">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Russo-Ukraine_Conflict_%282014-present%29.svg/1280px-Russo-Ukraine_Conflict_%282014-present%29.svg.png"
                    alt="Ukraine Crisis"
                />
            </div>

            <!-- Radiation map -->
            <div class="responsive-iframe toggle-child" data-val="7">
                <iframe src="https://www.saveecobot.com/en/radiation-maps">
                </iframe>
            </div>
        </div>
    </div>
    <h3>Livestreams</h3>
    <div class="row">
        <div class="six columns">
            <p>DW</p>
            <div class="responsive-iframe">
                <iframe src="https://www.youtube-nocookie.com/embed/V9KZGs1MtP4"
                    title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen>
                </iframe>
            </div>
            
        </div>

        <div class="six columns">
            <p>United Nations</p>
            <div class="responsive-iframe">
                <iframe src="https://www.youtube-nocookie.com/embed/9CdY7t5VKIY"
                    title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen>
                </iframe>
            </div>
        </div>
    </div>
    <div class="row">
        
        <div class="six columns">
            <h3>Reddit</h3>
            <iframe id="reddit-embed"
                    src="https://www.redditmedia.com/r/UkrainianConflict/comments/t0gubl/ukrainianconflict_megathread/?ref_source=embed&amp;ref=share&amp;embed=true&amp;theme=dark"
                    sandbox="allow-scripts allow-same-origin allow-popups"
                    scrolling="yes"
                    height="1075">
            </iframe>
        </div>
        <div class="six columns">
            <h3>Twitter</h3>
            <div class="tagembed-container" style="width:100%;height:1075px;overflow: auto;">
                <div class="tagembed-socialwall"
                    data-wall-id="28302"
                    view-url="https://widget.tagembed.com/28302?view">
                </div>
            </div>
        </div>
    </div>
{% endblock %}
