{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block intro %}
<style>
    .page-title {
        display: none;
    }
</style>
<div class="info-section">
    <div class="intro" xmlns="http://www.w3.org/1999/html">
        <h2>Ukrainianconflict-live</h2>
    
        <p>
            This is a initiative from /r/UkrainianConflict volunteers to create a single hub of information
            regarding the ongoing situation. This is a work in progress.
            If you'd like to make any suggestions to improve the site,
            <a href="https://github.com/Ukrainianconflict-live/website">let us know</a>.
        </p>
    
        <p>
            Thank you, <span class="bright-yellow">Слава Україні!</span>
        </p>
    </div>
    <div class="donation-section">
        <h2>Please Consider Donating</h2>
        <div class="donation-links">
            <div class="donation-wrapper">
                <a href="https://www.icrc.org/en/donate" target="_blank">
                    <img src="../static/red_cross.png" />
                    
                </a>
            </div>
            <div class="donation-wrapper">
                <a href="https://www.unicef.org/" target="_blank">
                    <img src="../static/unicef.png" />
                </a>
            </div>
            <div class="donation-wrapper">
                <a href="https://www.patreon.com/ukrainianconflict" target="_blank" class="patreon-link">Support the site</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block pagetitle %}Dashboard{% endblock %}

{% block content %}
<div class="column-wrapper">
    <div class="remaining-column">
        <div class="map-section tab-menu-parent" data-show="1">
            <div class="tab-menu">
                <div class="tab-menu__tab" data-val="1">Live UA map</div>
                <div class="tab-menu__tab" data-val="2">Flight radar map</div>
                <div class="tab-menu__tab" data-val="3">Radiation map</div>
            </div>

            <!-- Live UA Map -->
            <div class="grow-iframe tab-menu__element" data-val="1">
                <iframe src="https://liveuamap.com/">
                </iframe>
            </div>

            <!-- Flight radar 24 -->
            <div class="grow-iframe tab-menu__element" data-val="2">
                <iframe src="https://www.flightradar24.com/simple?lat=48.26&lon=38.48&z=5">
                </iframe>
            </div>

            <!-- Radiation map -->
            <div class="grow-iframe tab-menu__element" data-val="3">
                <iframe src="https://www.saveecobot.com/en/radiation-maps">
                </iframe>
            </div>
        </div>
    </div>

    <div class="video-column">
        <div class="video-wrapper">
            <div class="responsive-iframe">
                <iframe src="https://www.youtube-nocookie.com/embed/m01az_TdpQI?autoplay=1&mute=1"
                    title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen>
                </iframe>
            </div> 
        </div>
        

        <div class="video-wrapper">
            <div class="responsive-iframe">
                <iframe src="https://www.youtube-nocookie.com/embed/9CdY7t5VKIY?autoplay=1&mute=1"
                    title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen>
                </iframe>
            </div>
        </div>

        <div class="video-wrapper">
            <div class="responsive-iframe">
                <iframe src="https://www.youtube-nocookie.com/embed/eYa-dSfA8I4?autoplay=1&mute=1"
                    title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen>
                </iframe>
            </div> 
        </div>
    </div>
    <div class="remaining-column"> 
        <div class="twitter-feed">
            <a class="twitter-timeline" href="https://twitter.com/BerndHuck/lists/1503557444181581825?ref_src=twsrc%5Etfw">A Twitter List by BerndHuck</a>
        </div>

            
        <div class="reuters-map">
            <!-- Reuters graphic (@see https://graphics.reuters.com/UKRAINE-CRISIS/zdpxokdxzvx/) -->
            <!--<img src="../static/reuters_map.png" alt="Ukraine Crisis" style="width: 100%;"  />-->
            <video autoplay="true" muted="true" loop="true">
                <source src="../static/ukrainian_conflict_animation.mp4" type="video/mp4"></source>
            </video>
        </div>
    </div>
</div>
    
{% endblock %}
