{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block intro %}
<div class="intro" xmlns="http://www.w3.org/1999/html">
        <h2>Ukrainianconflict-live</h2>

        <p>
            This is a initiative from /r/UkrainianConflict volunteers to create a single hub of information
            regarding the ongoing situation. This is a work in progress.
            If you'd like to make any suggestions to improve the site,
            <a href="https://github.com/Ukrainianconflict-live/website">let us know</a>.
        </p>

        <p>
            Thank you, <span class="bright-yellow">Слава Україні!</span>
        </p>
    </div>
{% endblock %}

{% block pagetitle %}Dashboard{% endblock %}

{% block content %}
    <div class="row">
        <h3>Maps</h3>

        <!-- Flight radar 24-->
        <iframe src="https://www.flightradar24.com/simple?lat=48.26&lon=38.48&z=5"
                width="960"
                height="600">
        </iframe>

        <!-- Flight radar 24-->
        <iframe src="https://liveuamap.com/"
                width="960"
                height="600">
        </iframe>

        <!-- Reuters graphic (@see https://graphics.reuters.com/UKRAINE-CRISIS/zdpxokdxzvx/) -->
        <img src="https://graphics.reuters.com/UKRAINE-CRISIS/zdpxokdxzvx/cdn/images/graphics/bigmap-xl.png"
             alt="Ukraine Crisis"
             style="width: 100%; max-width: 960px; background-color: white;"
        />

        <!-- Live Conflict Tracker -->
        <!-- API key is t8G8dyyNEssK45ZJ , but I could'nt find a way to use it to embed this map... -->
        <iframe src="https://maphub.net/Cen4infoRes/russian-ukraine-monitor"
                width="960"
                height="600">
        </iframe>

        <!-- NASA Fire Tracker -->
        <!-- !! CRSF error -->
        <iframe src="https://firms.modaps.eosdis.nasa.gov/map/#d:24hrs;@34.1,48.8,6z"
                width="960"
                height="600">
        </iframe>

        <!-- Wikipedia (@see https://en.wikipedia.org/wiki/2021%E2%80%932022_Russo-Ukrainian_crisis) -->
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Russo-Ukraine_Conflict_%282014-present%29.svg/1280px-Russo-Ukraine_Conflict_%282014-present%29.svg.png"
             alt="Ukraine Crisis"
             style="width: 100%; max-width: 960px; background-color: white;"
        />

        <!-- Radiation map -->
        <iframe src="https://www.saveecobot.com/en/radiation-maps"
                width="960"
                height="600">
        </iframe>
    </div>

    <div class="row">
        <h3>Livestreams</h3>
    </div>

    <div class="row">
        <div class="six columns">
            <p>DW</p>
            <div class="responsive-iframe">
                <iframe src="https://www.youtube-nocookie.com/embed/V9KZGs1MtP4"
                    title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen>
                </iframe>
            </div>
            
        </div>

        <div class="six columns">
            <p>United Nations</p>
            <div class="responsive-iframe">
                <iframe src="https://www.youtube-nocookie.com/embed/9CdY7t5VKIY"
                    title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen>
                </iframe>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="six columns">
            <h3>Reddit</h3>
        </div>
        <div class="six columns">
            <h3>Twitter</h3>
        </div>
    </div>
    <div class="row">
        <div class="six columns">
            <iframe id="reddit-embed"
                    src="https://www.redditmedia.com/r/UkrainianConflict/comments/t0gubl/ukrainianconflict_megathread/?ref_source=embed&amp;ref=share&amp;embed=true&amp;theme=dark"
                    sandbox="allow-scripts allow-same-origin allow-popups"
                    scrolling="yes"
                    height="1075">
            </iframe>
        </div>
        <div class="six columns">
            <div class="tagembed-container" style="width:100%;height:100%;overflow: auto;">
                <div class="tagembed-socialwall"
                    data-wall-id="28302"
                    view-url="https://widget.tagembed.com/28302?view">
                </div>
            </div>
        </div>
    </div>
{% endblock %}
