<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ukrainian Conflict</title>
    <link rel="stylesheet" href="../static/skeleton.css">
    <link rel="stylesheet" href="../static/style.css">
    <script src="//widget.tagembed.com/embed.min.js" type="text/javascript" defer></script>
</head>
<body>
    <div class="header">
        <svg width="24" height="16">
            <rect width="24" height="8" style="fill:#0057b7;" />
            <rect width="24" height="8" y="8" style="fill:#ffd700;" />
            Sorry, your browser does not support inline SVG.  
        </svg>
        <h1> r/UkrainianConflict <strong>Live</strong></h1>
        <a href="#" class="float-right">
            <svg height="16" width="16">
                <circle cx="8" cy="8" r="8" style="fill:#fed502;" />
                <text x="6" y="14" fill="black">i</text>
                Sorry, your browser does not support inline SVG.  
            </svg>
        </a>
    </div>

    <div class="container">

        <div class="intro">
            <h2>Welcome</h2>

            <p>
                This is a collaboration between volunteers organized from /r/UkrainianConflict to create a single hub of information regarding the ongoing situation.
                This is a work in progress, so if you'd like to make any suggestions to improve the site, please submit a comment in the dedicated <a href="#">Reddit thread</a>.
            </p>

            <p>
                Thank you, <span class="bright-yellow">Слава Україні!</span>
            </p>
        </div>

        <div class="page-title">
            <h2>Dashboard</h2>
            <hr>
        </div>

        <div class="row">
            <h3>Livestreams</h3>
        </div>

        <div class="row">
            <div class="six columns">
                <p>DW</p>
                <iframe src="https://www.youtube-nocookie.com/embed/V9KZGs1MtP4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>

            <div class="six columns"></div>
                <p>United Nations</p>
                <iframe src="https://www.youtube-nocookie.com/embed/9CdY7t5VKIY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>

        <div class="container">
            <h3>Reddit</h3>
            <iframe id="reddit-embed" src="https://www.redditmedia.com/r/UkrainianConflict/comments/t0gubl/ukrainianconflict_megathread/?ref_source=embed&amp;ref=share&amp;embed=true&amp;theme=dark" sandbox="allow-scripts allow-same-origin allow-popups" scrolling="yes" height="1069"></iframe>
        </div>

        <div class="container">
            <h3>Twitter</h3>
            <div class="tagembed-container" style=" width:100%;height:100%;overflow: auto;"><div class="tagembed-socialwall" data-wall-id="28302" view-url="https://widget.tagembed.com/28302?view">  </div></div>
        </div>
    </div>

</body>
</html>
